html, body, #wrapper-home {
  height:100%;
  background: @bgColor;
}

.hacknyu-navbar-clear{
  background: transparent;
  z-index: 2;
  width: 100%;
}

.hacknyu-brand {
  text-transform: uppercase;
  span.hack {
    background-color: @darkPrimaryColor;
    color: @textPrimaryColor;
    padding: 5px 5px;
  }
  span.nyu {
    background-color: @textPrimaryColor;
    color: @darkPrimaryColor;
    padding: 5px 5px;
  }
}

header#home {
  position: relative;
  height: 90%;
  .cover {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-attachment: fixed;
  }
  .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    nav {
      position: absolute;
      margin: 0;
      top: 15px;
      right: 15px;
      z-index: 100;
      a {
        color: @textPrimaryColor;
      }
    }
    .intro {
      color: @textPrimaryColor;
      z-index: 100;
      h2 {
        font-size: 1.9em;
      }
      .cities{
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        a {
          color: @textPrimaryColor;
          padding: 10px;
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

section#content {
  .container{
    position: relative;
    margin-top: -50px;
    background: @whiteColor;
    box-shadow: 3px 3px 10px @secondaryTextColor;
    a.hacknyu-weather {
      padding: 15px;
      span::after {
        content: "\00b0";
      }
    }
  }
}
