<section class="page-top row" style="background-color:#D93173">
<div class="container dh-page-header">
    <div class="col-sm-12 page-header">
        <h1>Get In Touch</h1>
    </div>
</div>
</section>
<div class="arrow-down row">
    <div class="container" style="color:#D93173">
        <i class="fa fa-caret-down fa-2x"></i>
    </div>
</div>

<section class="dashboard-form dashboard-top-section row">
    <div class="container">
        <div class="col-sm-12">
            <form class="form-horizontal"
                  name="contactForm"
                  ng-submit="submit()"
                  unsaved-warning-form>
                <!-- Text input-->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textName">My name is</label>
                    <div class="col-md-6">
                        <input id="textName"
                               name="textName"
                               type="text"
                               placeholder="Name &mdash; eg. Chase Adam"
                               class="dh-form-control input-md"
                               required=""
                               ng-model="form.name">
                        <div style="color:maroon;" ng-messages="contactForm.textName.$error"
                             ng-show="contactForm.textName.$touched && form.$dirty">
                            <div ng-message="required">Your name is required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textEmail">My email is</label>
                    <div class="col-md-6">
                        <input id="textEmail"
                               name="textEmail"
                               type="email"
                               placeholder="Email Address &mdash; eg. someone@example.com"
                               class="dh-form-control input-md"
                               required=""
                               ng-model="form.email">
                        <div style="color:maroon;" ng-messages="contactForm.textEmail.$error"
                             ng-show="contactForm.textEmail.$touched && form.$dirty">
                            <div ng-message="required">Your email address is required.</div>
                        </div>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textSubject">Subject of my inquiry is</label>
                    <div class="col-md-8">
                        <input id="textSubject"
                               name="textSubject"
                               type="text"
                               placeholder="A short subject line for your inquiry"
                               class="dh-form-control input-md"
                               required=""
                               ng-maxlength="140"
                               ng-model="form.subject">
                        <div style="color:maroon;" ng-messages="contactForm.textSubject.$error"
                             ng-show="contactForm.textSubject.$touched && form.$dirty">
                            <div ng-message="required">A subject is required.</div>
                            <div ng-message="maxlength">The subject must be 140 characters or less.</div>
                        </div>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textMessage">The whole story</label>
                    <div class="col-md-8">
                    <textarea class="dh-form-control"
                              id="textMessage"
                              name="textMessage"
                              rows="5"
                              required
                              ng-maxlength="2000"
                              placeholder="I want to get in touch with the Dental Hackathon team because ..."
                              ng-model="form.message"></textarea>
                        <div style="color:maroon;" ng-messages="contactForm.textMessage.$error"
                             ng-show="contactForm.textMessage.$touched && form.$dirty">
                            <div ng-message="required">Please provide a small blurb outlining your inquiry.</div>
                            <div ng-message="maxlength">The message must be 2000 characters or less.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textMessage">I have self-awareness</label>
                    <div class="col-md-8">
                        <ga-captcha ng-model="form.captcha" ng-required="true" anonymous-only></ga-captcha>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>