<nav class="navbar dh-navbar navbar-fixed-top {{ fancyNav ? 'fancy' : 'top-nav-collapse' }}" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a ng-if="!isLogged" class="navbar-brand page-scroll" href="" ng-click="homeAndScrollTo('page-top')">
                <span class="light">Dental</span> Hackathon
            </a>
            <a ng-if="isLogged" class="navbar-brand page-scroll" href="" ui-sref="dashboard.home">
                <span class="light">Dental</span> Hackathon
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav" ng-if="!isLogged">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="" ng-click="homeAndScrollTo('about')">About</a>
                </li>
                <li>
                    <a href="" ng-click="homeAndScrollTo('stories')">Stories</a>
                </li>
                <li>
                    <a href="/" ui-sref="signup">Sign Up</a>
                </li>
                <li>
                    <a href="/" ui-sref="login">Log In</a>
                </li>
                <li>
                    <a href="/" ui-sref="contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-if="isLogged">
                <li>
                    <a href="/" ui-sref="dashboard.apply">Apply</a>
                </li>
                <li>
                    <a href="/" ui-sref="dashboard.stories">Stories</a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Projects <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="dashboard.projects">All Projects</a></li>
                        <li><a ui-sref="dashboard.projects-user({username:user.username})">My Projects</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/" ui-sref="contact">Contact</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <img class="profile-pic" src="{{ user.avatar_url }}"/> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="dashboard.profile">{{ user.name ? user.name : ('@' + user.username) }}</a></li>
                        <li ng-if="user.admin"><a ui-sref="admin">Admin Panel</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="signout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>