# python cache files
*.pyc
*.pyo
.DS_Store

# pycharm/jetbrains file
.idea

# Folders to ignore
bower_components
node_modules
main/pylibs
main/public/dist
main/public/lib
temp/
datastore

# Specific files
main/index.yaml
main/pylibs.zip
