<!--Repeat form-group for each college-->
<div class="timeline-messages">
    <h3>Work History</h3>

    <!-- Add a workplace -->
    <div class="msg-time-chat">
        <div class="message-body msg-in">
            <span class="arrow"></span>
            <div class="text">
                <div class="first">
                    <a href="" ng-click="wizardFxn.addProfileItem('workplaces_struct')">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </div>
                <div class="second bg-terques ">
                    <a href="" ng-click="wizardFxn.addProfileItem('workplaces_struct')">
                        Add a new workplace
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Comment -->
    <div ng-repeat="workplace in data.profile.workplaces_struct | orderBy: wizardFxn.getDateFromString:true">
        <div class="edit-form well animated {{ workplace.editor.animation }}" ng-if="workplace.editor.show">
            <form ng-submit="wizardFxn.saveProfileItem(workplace, 'workplaces_struct')" class="form-horizontal" name="workplaceForm" unsaved-warning-form>
                <p class="alert alert-danger" ng-if="workplace.editor.error">Failed to save workplace.</p>
                <div class="col-lg-12 tools">
                    <a href="" ng-click="wizardFxn.deleteProfileItem(workplace, 'workplaces_struct')" class="fa fa-trash text-danger"> Delete</a>
                </div>
                <div class="form-group" ng-class="{'has-error': workplace.editor.error.company}">
                    <label class="col-sm-3 control-label">Company</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-lg" ng-model="workplace.company"
                               placeholder="Where have you worked?" required>
                        <p class="help-block">{{ workplace.editor.error.company }}</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': workplace.editor.error.position}">
                    <label class="col-sm-3 control-label">Position</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-lg" ng-model="workplace.position"
                               placeholder="What is your job title?" required>
                        <p class="help-block">{{ workplace.editor.error.position }}</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': workplace.editor.error.start_date}">
                    <label class="col-sm-3 control-label">Start Date</label>
                    <div class="col-sm-7">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon btn-danger"
                                  ng-click="status.start_opened = true">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input type="text" class="form-control input-lg" placeholder="Start Date"
                                   is-open="status.start_opened" uib-datepicker-popup readonly
                                   ng-model="workplace.start_date" required>
                        </div>
                        <p class="help-block">{{ workplace.editor.error.start_date }}</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': workplace.editor.error.end_date}">
                    <label class="col-sm-3 control-label"></label>

                    <div class="col-sm-7">
                        <input type="checkbox" name="checkboxPresent" style="margin-top:10px;"
                               ng-model="workplace.is_present"/>
                        <label for="checkboxPresent">I currently work here</label>
                        <p class="help-block">{{ workplace.editor.error.end_date }}</p>
                    </div>
                </div>

                <div class="form-group" ng-if="!workplace.is_present" ng-class="{'has-error': workplace.editor.error.end_date}">
                    <label class="col-sm-3 control-label">End Date</label>
                    <div class="col-sm-7">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon btn-info"
                                  ng-click="status.end_opened = true">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input type="text" class="form-control input-lg" placeholder="End Date"
                                   is-open="status.end_opened" uib-datepicker-popup readonly
                                   ng-model="workplace.end_date" required>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': workplace.editor.error.city}">
                    <label class="col-sm-3 control-label">City/Town</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control input-lg" ng-model="workplace.city">
                        <p class="help-block">{{ workplace.editor.error.description }}</p>
                    </div>
                    <p class="text-danger">{{ workplace.editor.error.city }}</p>
                </div>

                <div class="form-group" ng-class="{'has-error': workplace.editor.error.descirption}">
                    <label class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="6" ng-model="workplace.description"></textarea>
                        <p class="help-block">{{ workplace.editor.error.description }}</p>
                    </div>
                </div>
                <hr>
                <div class="text-right">
                    <button class="btn btn-default" type="reset" ng-click="wizardFxn.dismissProfileItem(workplace, 'workplaces_struct')">Dismiss</button>
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                </div>
            </form>
        </div>
        <div class="msg-time-chat" ng-if="!workplace.editor.show">
            <div class="message-body msg-in">
                <span class="arrow"></span>
                <div class="text">
                    <div class="first">
                        {{ workplace.start_date | date: 'mediumDate' }}
                    </div>
                    <div class="second bg-red ">
                        <a href="" ng-click="wizardFxn.editProfileItem(workplace, 'workplaces_struct')">{{ workplace.company }} &middot;
                            {{ workplace.position }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /comment -->
</div>