<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <ul class="list-inline">
                    <li><a href="" ng-click="homeAndScrollTo('page-top')">Dental Hackathon &middot; 2016</a></li>
                    <li><a href="" ng-click="homeAndScrollTo('about')">About</a></li>
                    <li><a href="" ng-click="homeAndScrollTo('stories')">Stories</a></li>
                    <li><a href="" ui-sref="contact">Contact</a></li>
                </ul>
            </div>

            <div class="col-sm-4 social-links">
                <ul class="list-inline">
                    <li><a href="https://twitter.com/denthackathon16" target="_blank" class="fa fa-2x fa-twitter"></a></li>
                    <li><a href="https://www.facebook.com/dentalhackathon16" target="_blank" class="fa fa-2x fa-facebook"></a></li>
                    <!--<li><a href="http://instagram.com/devposthacks" target="_blank" class="fa fa-2x fa-instagram"></a></li>
                    --><li><a href="https://www.youtube.com/watch?v=QqPu3aNZ3KM" target="_blank" class="fa fa-2x fa-youtube-play"></a></li>
                </ul>
            </div>
            <div class="col-sm-12">
                <a href="">Designed with <i class="fa fa-heart"></i> by Saj Arora</a>
            </div>
        </div>
    </div>
</footer>