# if config.DEVELOPMENT
    <!-- inject:js -->


    <script src="/p/lib/jquery/dist/jquery.js"></script>


    <script src="/p/lib/jquery.easing/js/jquery.easing.js"></script>


    <script src="/p/lib/angular/angular.js"></script>


    <script src="/p/lib/angular-animate/angular-animate.min.js"></script>


    <script src="/p/lib/angular-messages/angular-messages.js"></script>


    <script src="/p/lib/angular-flash-alert/dist/angular-flash.min.js"></script>


    <script src="/p/lib/angular-sanitize/angular-sanitize.js"></script>


    <script src="/p/lib/angular-scroll/angular-scroll.js"></script>


    <script src="/p/lib/angular-truncate/src/truncate.js"></script>


    <script src="/p/lib/angular-socialsharing/dist/angular-socialsharing.js"></script>


    <script src="/p/lib/angular-unsavedChanges/dist/unsavedChanges.js"></script>


    <script src="/p/lib/bootstrap/dist/js/bootstrap.js"></script>


    <script src="/p/lib/angular-ui-router/release/angular-ui-router.js"></script>


    <script src="/p/lib/restangular/dist/restangular.js"></script>


    <script src="/p/lib/lodash/dist/lodash.js"></script>


    <script src="/p/lib/angular-no-captcha/src/angular-no-captcha.js"></script>


    <script src="/p/lib/angular-elastic/elastic.js"></script>


    <script src="/p/lib/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>


    <script src="/p/lib/angular-nicescroll/angular-nicescroll.js"></script>


    <script src="/p/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>


    <script src="/p/lib/angular-google-gapi/angular-google-gapi.js"></script>


    <script src="/p/application.js"></script>


    <script src="/p/modules/core/core.module.js"></script>


    <script src="/p/modules/core/services/gaAuthentication.service.js"></script>


    <script src="/p/modules/core/services/gaBrowserHistory.service.js"></script>


    <script src="/p/modules/core/directives/form-wizard/form-wizard.directive.js"></script>


    <script src="/p/modules/core/directives/image-upload/image-upload.directive.js"></script>


    <script src="/p/modules/mainapp/app.module.js"></script>


    <script src="/p/modules/mainapp/auth/auth.controller.js"></script>


    <script src="/p/modules/mainapp/config/app.routes.js"></script>


    <script src="/p/modules/mainapp/config/core.config.js"></script>


    <script src="/p/modules/mainapp/config/core.lodash.js"></script>


    <script src="/p/modules/mainapp/dashboard/dashboard.controller.js"></script>


    <script src="/p/modules/mainapp/layout/app.controller.js"></script>


    <script src="/p/modules/mainapp/profile/profile.controller.js"></script>


    <script src="/p/modules/mainapp/services/googleIntegration.service.js"></script>


    <script src="/p/modules/mainapp/settings/settings.controller.js"></script>


    <script src="/p/modules/mainapp/profile/wizard-partials/hackathon-wizard.controller.js"></script>


    <script src="/p/lib/ng-tags-input/ng-tags-input.js"></script>


    <!-- endinject -->
# else
    <script src="/p/dist/libs.min.js?{{ config.CURRENT_VERSION_ID }}"></script>
    <script src="/p/dist/script-app.min.js?{{ config.CURRENT_VERSION_ID }}"></script>
    <script src="/p/dist/templates.js?{{ config.CURRENT_VERSION_ID }}"></script>
# endif

# if config.DEVELOPMENT
    <script src="http://{{ request.host.split(':')[0] }}:35729/livereload.js"></script>
# endif
