# if config.DEVELOPMENT
    <!-- inject:js -->

    <script src="/p/lib/jquery/dist/jquery.js"></script>

    <script src="/p/lib/jquery.easing/js/jquery.easing.js"></script>

    <script src="/p/lib/angular/angular.js"></script>

    <script src="/p/lib/angular-animate/angular-animate.min.js"></script>

    <script src="/p/lib/angular-messages/angular-messages.js"></script>

    <script src="/p/lib/angular-flash-alert/dist/angular-flash.min.js"></script>

    <script src="/p/lib/angular-sanitize/angular-sanitize.js"></script>

    <script src="/p/lib/angular-scroll/angular-scroll.js"></script>

    <script src="/p/lib/angular-truncate/src/truncate.js"></script>

    <script src="/p/lib/angular-socialsharing/dist/angular-socialsharing.js"></script>

    <script src="/p/lib/angular-unsavedChanges/dist/unsavedChanges.js"></script>

    <script src="/p/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="/p/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/p/lib/restangular/dist/restangular.js"></script>

    <script src="/p/lib/lodash/dist/lodash.js"></script>

    <script src="/p/lib/angular-no-captcha/src/angular-no-captcha.js"></script>

    <script src="/p/lib/angular-elastic/elastic.js"></script>

    <script src="/p/lib/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>

    <script src="/p/lib/angular-nicescroll/angular-nicescroll.js"></script>
    <script src="/p/application.js"></script>

    <script src="/p/modules/core/core.module.js"></script>

    <script src="/p/modules/core/services/gaAuthentication.service.js"></script>

    <script src="/p/modules/core/services/gaBrowserHistory.service.js"></script>

    <script src="/p/modules/home/home.controller.js"></script>

    <script src="/p/modules/home/config/home.routes.js"></script>

    <!-- endinject -->
# else
    <script src="/p/dist/libs.min.js?{{ config.CURRENT_VERSION_ID }}"></script>
    <script src="/p/dist/script.min.js?{{ config.CURRENT_VERSION_ID }}"></script>
    <script src="/p/dist/templates.js?{{ config.CURRENT_VERSION_ID }}"></script>
# endif

# if config.DEVELOPMENT
    <script src="http://{{ request.host.split(':')[0] }}:35729/livereload.js"></script>
# endif
