# if config.DEVELOPMENT
    <!-- inject:js -->

    <script src="/p/lib/jquery/dist/jquery.js"></script>

    <script src="/p/lib/jquery.easing/js/jquery.easing.js"></script>

    <script src="/p/lib/angular/angular.js"></script>

    <script src="/p/lib/angular-animate/angular-animate.min.js"></script>

    <script src="/p/lib/angular-messages/angular-messages.js"></script>

    <script src="/p/lib/angular-sanitize/angular-sanitize.js"></script>

    <script src="/p/lib/angular-scroll/angular-scroll.js"></script>

    <script src="/p/lib/angular-truncate/src/truncate.js"></script>

    <script src="/p/lib/angular-socialsharing/dist/angular-socialsharing.js"></script>

    <script src="/p/lib/angular-unsavedChanges/dist/unsavedChanges.js"></script>

    <script src="/p/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="/p/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/p/lib/restangular/dist/restangular.js"></script>

    <script src="/p/lib/lodash/dist/lodash.js"></script>

    <script src="/p/lib/angular-no-captcha/src/angular-no-captcha.js"></script>

    <script src="/p/lib/angular-elastic/elastic.js"></script>

    <script src="/p/application.js"></script>

    <script src="/p/modules/admin/admin.module.js"></script>

    <script src="/p/modules/core/core.module.js"></script>

    <script src="/p/modules/users/users.module.js"></script>

    <script src="/p/modules/admin/admin/admin.controller.js"></script>

    <script src="/p/modules/admin/blog/admin-blog.controller.js"></script>

    <script src="/p/modules/admin/config/admin.routes.js"></script>

    <script src="/p/modules/admin/invitations/admin-invitations.controller.js"></script>

    <script src="/p/modules/core/blog/blog.controller.js"></script>

    <script src="/p/modules/core/config/core.config.js"></script>

    <script src="/p/modules/core/config/core.lodash.js"></script>

    <script src="/p/modules/core/config/core.routes.js"></script>

    <script src="/p/modules/core/contact/contact.controller.js"></script>

    <script src="/p/modules/core/directives/dhEnterKey.js"></script>

    <script src="/p/modules/core/directives/dhTimer.js"></script>

    <script src="/p/modules/core/directives/gaCaptcha.client.dir.js"></script>

    <script src="/p/modules/core/directives/listView.js"></script>

    <script src="/p/modules/core/directives/projectView.js"></script>

    <script src="/p/modules/core/directives/storyView.js"></script>

    <script src="/p/modules/core/home/home.controller.js"></script>

    <script src="/p/modules/core/js/grayscale.js"></script>

    <script src="/p/modules/core/layout/navbar.controller.js"></script>

    <script src="/p/modules/core/services/gaAuthentication.service.js"></script>

    <script src="/p/modules/core/services/gaBrowserHistory.service.js"></script>

    <script src="/p/modules/core/services/gaToast.service.js"></script>

    <script src="/p/modules/core/services/ngToast.js"></script>

    <script src="/p/modules/core/workshops/workshops.controller.js"></script>

    <script src="/p/modules/users/application/dashboard.application.controller.js"></script>

    <script src="/p/modules/users/auth/login.controller.js"></script>

    <script src="/p/modules/users/auth/signup.controller.js"></script>

    <script src="/p/modules/users/config/users.routes.js"></script>

    <script src="/p/modules/users/dashboard/dashboard-home.controller.js"></script>

    <script src="/p/modules/users/dashboard/dashboard.controller.js"></script>

    <script src="/p/modules/users/directives/gaImageUpload.js"></script>

    <script src="/p/modules/users/hackstories/hackstories.controller.js"></script>

    <script src="/p/modules/users/hackstories/stories-add.controller.js"></script>

    <script src="/p/modules/users/profile/profile.controller.js"></script>

    <script src="/p/modules/users/projects/projects-add.controller.js"></script>

    <script src="/p/modules/users/projects/projects-edit.controller.js"></script>

    <script src="/p/modules/users/projects/projects.controller.js"></script>

    <!-- endinject -->
# else
    <script src="/p/dist/libs.min.js?{{ config.CURRENT_VERSION_ID }}"></script>
    <script src="/p/dist/scripts.min.js?{{ config.CURRENT_VERSION_ID }}"></script>
    <script src="/p/dist/templates.js?{{ config.CURRENT_VERSION_ID }}"></script>
# endif

# if config.DEVELOPMENT
    <script src="http://{{ request.host.split(':')[0] }}:35729/livereload.js"></script>
# endif
