<!--header start-->
<header class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href=""  ui-sref="/app">
            HackNYU
        </a>
    </div>
</header>
<aside>
    Side bar
</aside>
<section id="main-content">
    <data-ui-view></data-ui-view>
</section>
<!--sidebar end-->