<div class="carousel wizard" ng-swipe-right="prev()" ng-swipe-left="next()">
    <div class="steps clearfix" ng-show="slides.length > 1">
        <ul role="tablist">
            <li style="width:{{  100/slides.length }}%" role="tab" ng-repeat="slide in slides | orderBy:indexOfSlide track by $index"
                ng-class="{ current: slide.active}" class="disabled">
                <a id="wizard-t-0" href="" ng-click="wizardFxn.goToForm($index)">
                    <span class="number">{{ $index + 1 }}.</span> {{ slide.name }}
                </a>
            </li>
        </ul>
    </div>
    <div class="carousel-inner" ng-transclude></div>
</div>