<div class="container">
    <div class="col-md-12 text-center" ng-if="isLoading">
        <h4><i class="fa fa-spin fa-circle-o-notch"></i> Loading Stories...</h4>
    </div>
    <div class="col-lg-6 col-sm-6" ng-repeat="story in storyModel | orderBy: '-modified'">
        <div class="card">
            <div class="card hovercard">
                <div class="card-background">
                    <img alt="" src="{{  story.owner_avatar }}">
                </div>
                <div class="useravatar">
                    <img alt="" src="{{ story.owner_avatar }}">
                </div>
                <div class="card-info">
                    <span class="card-title">{{ story.owner_name }}</span>
                    <div class="desc">{{  story.owner_program }}, {{ story.owner_institution }}</div>
                    <div class="desc">{{ story.owner_location }}</div>
                </div>
            </div>
            <div class="card-body text-justify">
                <p class="story">
                    {{  story.text }}
                </p>
            </div>
            <div class="btn-group btn-group-justified" role="group" aria-label="share buttons">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-lg hover-blue" ng-click="shareFacebook(story)">
                        <span class="fa fa-facebook-official" aria-hidden="true"></span>
                        <span class="text">Share</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-lg hover-green" ng-click="shareTwitter(story)">
                        <span class="fa fa-twitter" aria-hidden="true"></span>
                        <span class="text">Tweet</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 text-center" ng-if="more">
        <a href="" ng-click="readMore()">Read more stories...</a>
    </div>
</div>