<section id="steps" class="dashboard-top-section bg-white">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h2>I am ready to <span class="fg-pink">invent, innovate and inspire.</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <blockquote>
                    <p>{{ famousQuotes[currentQuoteIndex].quote }}</p>
                    <footer>{{ famousQuotes[currentQuoteIndex].author }}</footer>
                </blockquote>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-3">
                <div class="header">
                    <a class="fa-stack fa-4x" href="/" ui-sref="dashboard.apply">
                        <i class="fa fa-circle fa-stack-2x fg-blue {{ user.has_applied ? 'dh-fade' : '' }}"></i>
                        <i class="fa fa-check-square-o fa-stack-1x fg-white"></i>
                    </a>
                    <h4 class="{{ user.has_applied ? 'dh-fade' : '' }}">1. Select a Workshop</h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="header">
                    <a class="fa-stack fa-4x" href="/" ui-sref="dashboard.stories">
                        <i class="fa fa-circle fa-stack-2x fg-orange {{ user.has_story ? 'dh-fade' : '' }}"></i>
                        <i class="fa fa-user fa-stack-1x fg-white"></i>
                    </a>
                    <h4 class="{{ user.has_story ? 'dh-fade' : '' }}">2. Share your Story</h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="header">
                    <a class="fa-stack fa-4x" href="/" ui-sref="dashboard.projects">
                        <i class="fa fa-circle fa-stack-2x fg-pink {{ user.has_project ? 'dh-fade' : '' }}"></i>
                        <i class="fa fa-plus fa-stack-1x fg-white"></i>
                    </a>
                    <h4 class="{{ user.has_project ? 'dh-fade' : '' }}">3. Join or Start a Project</h4>
                </div>
            </div>
            <div class="col-sm-3 ambassador">
                <div class="header ">
                    <a class="fa-stack fa-4x" href=""
                       ng-click="openAmbassador=!openAmbassador">
                        <i class="fa fa-circle fa-stack-2x fg-green"></i>
                        <i class="fa fa-paper-plane-o fa-stack-1x fg-white"></i>
                    </a>
                    <h4>4. Spread the Word</h4>
                </div>

                <div class="row links">
                    <div ng-hide="!openAmbassador" class="animated"
                         ng-class="{fadeInDown: openAmbassador, fadeOutUp: !openAmbassador}" >
                        <span class="text-center"><i class="fa fa-caret-up fa-2x"></i></span>
                        <ul>
                            <li>
                                <button type="button" class="btn btn-lg  btn-primary-t"
                                        ng-click="shareFacebook()">
                                    <i class="fa fa-facebook"></i> Facebook
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-lg  btn-success-t"
                                        ng-click="shareTwitter()">
                                    <i class="fa fa-twitter"></i> Twitter
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="dh-section">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2>Dental Hackathon <span class="light">Blog</span></h2>
            </div>
            <div class="col-md-12 text-center">
                <h4>Coming Soon</h4>
            </div>
        </div>
    </div>
</section>