<section class="project-add-form bg-white dashboard-top-section">
    <div class="container">
        <form class="form-horizontal"
              name="projectForm"
              ng-submit="submit()"
              unsaved-warning-form>
            <!-- Text input-->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="textname">My project is called</label>
                <div class="col-md-6">
                    <input id="textname"
                           name="textname"
                           type="text"
                           placeholder="Project Name"
                           class="dh-form-control input-md"
                           required=""
                           ng-maxlength="50"
                           ng-blur="updateFeatureImage(project.name)"
                           ng-model="project.name">
                    <div style="color:maroon;" ng-messages="projectForm.textname.$error"
                         ng-show="projectForm.textname.$touched && projectForm.$dirty">
                        <div ng-message="required">Project name is required.</div>
                        <div ng-message="maxlength">Project name can be up to 50 characters long.</div>
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="textElevator">The elevator pitch</label>
                <div class="col-md-8">
                    <input id="textElevator"
                           name="textElevator"
                           type="text"
                           placeholder="A short tagline for the project"
                           class="dh-form-control input-md"
                           required=""
                           max-length="140"
                           ng-model="project.elevator">
                    <div style="color:maroon;" ng-messages="projectForm.textElevator.$error"
                         ng-show="projectForm.textElevator.$touched && projectForm.$dirty">
                        <div ng-message="required">Elevator pitch is required.</div>
                        <div ng-message="maxlength">Elevator pitch can be up to 140 characters long.</div>
                    </div>
                </div>
            </div>

            <!-- Search input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textNewMember">My team members</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="email" class="dh-form-control input-md"
                               id="textNewMember"
                               name="textNewMember"
                               dh-enter="inviteMember(newMemberEmail)"
                               ng-keypress="onChangeNewMemberInput()"
                               placeholder="Add team members via email — someone@example.com"
                               ng-model="newMemberEmail">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary dh-input-button"
                                    ng-click="inviteMember(newMemberEmail)">
                                <i class="fa fa-envelope-o"></i> Invite
                            </button>
                        </div>
                    </div>
                    <div style="color:maroon;" ng-messages="projectForm.textNewMember.$error"
                         ng-show="projectForm.textNewMember.$touched && projectForm.$dirty">
                        <div ng-message="required">Please enter an email address for the team member.</div>
                        <div ng-message="email">Please enter a valid email address.</div>
                    </div>
                    <ul class="members-list">
                        <span>PROJECT MEMBERS</span>
                        <li ng-repeat="item in project.members_struct">
                            {{ item.email }} &mdash; {{ item.role }} &middot; {{ item.has_joined ? 'Joined' :
                                (item.invitation_sent ? 'Invited' : '') }}
                            <button ng-if="item.role != 'Project Leader'"
                                    type="button"
                                    ng-click="deleteMember($index)"
                                    class="btn btn-danger-t pull-right"><i class="fa fa-trash"></i></button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="textStory">Here is the whole story</label>
                <div class="col-md-8">
                    <textarea class="dh-form-control"
                              id="textStory"
                              name="textStory"
                              rows="6"
                              required=""
                              ng-model="project.story">My inspiration for this project is...</textarea>
                    <div style="color:maroon;" ng-messages="projectForm.textStory.$error"
                         ng-show="projectForm.textStory.$touched && projectForm.$dirty">
                        <div ng-message="required">Please tell us a bit more about the project.</div>
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textwebsite">I have a website</label>
                <div class="col-md-8">
                    <input id="textwebsite"
                           name="textwebsite"
                           type="text"
                           placeholder="Url to project homepage — www.dentalhackthon.org"
                           class="dh-form-control input-md"
                           ng-model="project.website">
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="inputFile">Project Image</label>
                <div class="col-md-8">
                    <ga-image-upload user="user"
                                     form="projectForm"
                                     on-change="featureImageUploaded()"
                                     image-url="project.feature"
                                     placeholder="JPG, PNG or GIF format, 5 MB max file size.
                                     For best results, use a 3:2 ratio.">
                    </ga-image-upload>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <button type="submit" class="btn btn-success btn-lg">Save Project</button>
                    <button type="button" class="btn btn-danger-t btn-lg pull-right" ng-click="delete()">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
