<section class="project-add-form dashboard-top-section bg-white">
    <div class="container">
        <form class="form-horizontal"
              name="projectForm"
              ng-submit="submit()"
              unsaved-warning-form>
            <!-- Text input-->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="textname">My project is called</label>
                <div class="col-md-6">
                    <input id="textname"
                           name="textname"
                           type="text"
                           placeholder="Project Name"
                           class="dh-form-control input-md"
                           required=""
                           ng-maxlength="50"
                           ng-blur="updateFeatureImage(project.name)"
                           ng-model="project.name">
                    <div style="color:maroon;" ng-messages="projectForm.textname.$error"
                         ng-show="projectForm.textname.$touched && projectForm.$dirty">
                        <div ng-message="required">Project name is required.</div>
                        <div ng-message="maxlength">Project name can be up to 50 characters long.</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <button ng-disabled="isSubmittingForm" type="submit" class="btn btn-success btn-lg">
                        <i class="fa fa-circle-o-notch fa-spin" ng-if="isSubmittingForm"></i> Create Project
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
