<section class="dashboard-form row dashboard-top-section">
    <div class="container">
        <div class="col-sm-12">
            <form class="form-horizontal"
                  name="applicationForm"
                  ng-submit="submit(true)"
                  unsaved-warning-form>
                <!-- Text input-->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textname">My name is</label>
                    <div class="col-md-6">
                        <input id="textname"
                               name="textname"
                               type="text"
                               placeholder="Your Name &mdash; Adam Chase"
                               class="dh-form-control input-md"
                               required=""
                               ng-model="application.owner_name">
                        <div style="color:maroon;" ng-messages="applicationForm.textname.$error"
                             ng-show="applicationForm.textname.$touched && applicationForm.$dirty">
                            <div ng-message="required">Your name is required.</div>
                        </div>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textstory">Here is why I am interested</label>
                    <div class="col-md-8">
                    <textarea class="dh-form-control"
                              id="textstory"
                              name="textstory"
                              rows="3"
                              required
                              placeholder="I am interested in the Dental Hackathon because..."
                              ng-model="application.interest"></textarea>
                        <div style="color:maroon;" ng-messages="applicationForm.textstory.$error"
                             ng-show="applicationForm.textstory.$touched && applicationForm.$dirty">
                            <div ng-message="required">Please tell us why you are interested.</div>
                        </div>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textSkills">Here are my skills</label>
                    <div class="col-md-8">
                    <textarea class="dh-form-control"
                              id="textSkills"
                              name="textSkills"
                              rows="3"
                              required
                              placeholder="I bring to the Dental Hackathon my ability to ..."
                              ng-model="application.skills"></textarea>
                        <div style="color:maroon;" ng-messages="applicationForm.textSkills.$error"
                             ng-show="applicationForm.textSkills.$touched && applicationForm.$dirty">
                            <div ng-message="required">Please tell us some of your skills/qualities.</div>
                        </div>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textExpectations">My expectations are</label>
                    <div class="col-md-8">
                    <textarea class="dh-form-control"
                              id="textExpectations"
                              name="textExpectations"
                              rows="3"
                              required
                              placeholder="The Dental Hackathon would rock my socks off if..."
                              ng-model="application.expectations"></textarea>
                        <div style="color:maroon;" ng-messages="applicationForm.textExpectations.$error"
                             ng-show="applicationForm.textExpectations.$touched && applicationForm.$dirty">
                            <div ng-message="required">Please tell us how we could better your experience at the
                                workshop and/or the hackathon.</div>
                        </div>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textSuperpower">If I had a superpower</label>
                    <div class="col-md-8">
                    <textarea class="dh-form-control"
                              id="textSuperpower"
                              name="textSuperpower"
                              rows="3"
                              required
                              placeholder="My superpower would be..."
                              ng-model="application.superpower"></textarea>
                        <div style="color:maroon;" ng-messages="applicationForm.textSuperpower.$error"
                             ng-show="applicationForm.textSuperpower.$touched && applicationForm.$dirty">
                            <div ng-message="required">Please share your superpower. We know you have one!</div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="form-group required">
                        <div class="col-md-8 col-md-offset-4">
                            <p style="margin-bottom: 0;"><strong>Please rank your interest in the following workshops.</strong></p>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-md-4 control-label" for="first-choice">First Choice for Workshop</label>
                        <div class="col-md-8">
                            <div class="radio dh-radio" ng-repeat="option in firstWorkshops">
                                <label for="first-choice-{{ $index }}">
                                    <input type="radio" name="first-choice" id="first-choice-{{ $index }}" value="{{ option.value }}"
                                           ng-model="application.first_choice_workshop"
                                           ng-change="onSelectWorkshop(option.value)">
                                    {{ option.name }}
                                    <blockquote>{{ option.info }}</blockquote>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-md-4 control-label" for="second-choice">Second Choice for Workshop</label>
                        <div class="col-md-8">
                            <div class="radio dh-radio" ng-repeat="option in secondWorkshops" ng-if="!option.disabled">
                                <label for="second-choice-{{ $index }}">
                                    <input type="radio" name="second-choice" id="second-choice-{{ $index }}"
                                           value="{{ option.value }}"
                                           ng-model="application.second_choice_workshop">
                                    {{ option.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="submit" class="btn btn-success btn-lg {{ isLoading ? 'disabled' : '' }}">
                            <i ng-if="isLoading" class="fa fa-spin fa-circle-o-notch"></i>
                            <i ng-if="!isLoading" class="fa fa-check"></i>
                            {{ application.is_submitted ? 'Re-Submit' : 'Submit' }}
                        </button>
                        <button type="button" class="btn btn-primary-t btn-lg pull-right {{ isLoading ? 'disabled' : '' }}"
                                ng-click="submit(false)">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>