<div class="container">

    <form class="form-signin" name="loginForm" ng-submit="signin()">
        <div class="form-alert-space">
            <div class="alert alert-{{ formError.color }}
            animated fadeInDown" ng-show="formError.show">{{ formError.message }}</div>
        </div>
        <h2 class="form-signin-heading">
            <img class="img-responsive" src="/p/modules/core/img/logo.png" alt="HackNYU Logo"/>
        </h2>
        <div class="login-wrap">
            <div class="user-login-info animated {{ loginAnimation }}">
                <h2 class="heading">Log in</h2>
                <input type="text" class="form-control" ng-model="credentials.login" ng-change="inputChanged()"
                       placeholder="Username/Email Address" autofocus="" name="login" required>
                <input type="password" class="form-control" ng-model="credentials.password"
                       placeholder="Password" name="password" required ng-change="inputChanged()">
            </div>
            <div class="form-button-bar">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" ng-model="credentials.remember"> Remember me
                <span class="pull-right">
                    <a data-toggle="modal" href="" ng-click="openModalForgot()"> Forgot Password?</a>
                </span>
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit">Log In</button>
                <button class="btn btn-lg btn-github btn-block" ng-click="authenticateWithGithub()">
                    <i class="fa fa-github"></i> Github
                </button>
            </div>

            <div class="registration">
                Don't have an account yet?
                <a class="" ui-sref="signup">
                    Create an account
                </a>
            </div>
        </div>
    </form>

    <script type="text/ng-template" id="modalForgot.html">
        <form ng-submit="forgotPassword()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Forgot Password ?</h4>
                </div>
                <div class="modal-body">
                    <p>Enter your e-mail address below to reset your password.</p>
                    <input type="email" name="email" ng-model="forgot.email"
                           placeholder="Email Address"
                           required class="form-control placeholder-no-fix">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </script>
</div>

