<section class="page-top row" style="background-color:#D93173">
    <div class="container dh-page-header">
        <div class="col-sm-12 page-header">
            <h1>Dental Hackathon <small>Workshop Series</small></h1>
        </div>
    </div>
</section>
<div class="arrow-down row">
    <div class="container" style="color:#D93173">
        <i class="fa fa-caret-down fa-2x"></i>
    </div>
</div>

<section class="dashboard-form dashboard-top-section row">
    <div class="container">
        <div class="col-sm-12 text-center">
            <img src="/p/modules/core/img/workshop_1.png" style="max-width:100%" alt="workshop 1 date"/>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            <p class="text-justify"><strong>Oral Health Education &mdash; Transform the way we teach.</strong> Oral health is neglected in
                many communities due to the lack of culturally-sensitive resources and personalized teaching materials.
                Create tools that tackle this social disparity by building
                scalable apps for iPhones, Android devices and the web that can truly help millions of people
                around the globe.</p>
            <div class="text-center">
                <h4>Where: Kimmel Center, Room 903</h4>
                <h4>When: November 21st, 2015</h4>
                <h4>Time: 12:00 pm - 2:00 pm</h4>
            </div>
        </div>
        <div class="col-sm-12">
            <form class="form-horizontal"
                  name="form"
                  ng-submit="submit()"
                  unsaved-warning-form>
                <!-- Text input-->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textName">My name is</label>
                    <div class="col-md-6">
                        <input id="textName"
                               name="textName"
                               type="text"
                               placeholder="Name &mdash; eg. Chase Adam"
                               class="dh-form-control input-md"
                               required=""
                               ng-model="dhForm.name">
                        <div style="color:maroon;" ng-messages="form.textName.$error"
                             ng-show="form.textName.$touched && form.$dirty">
                            <div ng-message="required">Your name is required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textEmail">My email is</label>
                    <div class="col-md-6">
                        <input id="textEmail"
                               name="textEmail"
                               type="email"
                               placeholder="Email Address &mdash; eg. someone@example.com"
                               class="dh-form-control input-md"
                               required=""
                               ng-model="dhForm.email">
                        <div style="color:maroon;" ng-messages="form.textEmail.$error"
                             ng-show="form.textEmail.$touched && form.$dirty">
                            <div ng-message="required">Your email address is required.</div>
                            <div ng-message="email">Not a valid email.</div>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textName">My username</label>
                    <div class="col-md-6">
                        <input id="textUsername"
                               name="textUsername"
                               type="text"
                               placeholder="Username &mdash; eg. chaseadam"
                               class="dh-form-control input-md"
                               required=""
                               ng-model="dhForm.username">
                        <div style="color:maroon;" ng-messages="form.username.$error"
                             ng-show="form.username.$touched && form.$dirty">
                            <div ng-message="required">A username is required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="dhForm.code">
                    <label class="col-md-4 control-label" for="textEmail">My invite code is</label>
                    <div class="col-md-6">
                        <input id="textCode"
                               name="textCode"
                               type="text"
                               placeholder="Invite Code &mdash; eg. CDX1221"
                               class="dh-form-control input-md"
                               ng-model="dhForm.code">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="textProgram">I am</label>
                    <div class="col-md-6">
                        <div class="radio dh-radio">
                            <label for="choice-1">
                                <input type="radio"
                                       name="choice-1"
                                       id="choice-1" value="1"
                                       ng-model="dhForm.is_attending">
                                Confirming my attendance to this workshop
                            </label>
                        </div>
                        <div class="radio dh-radio">
                            <label for="choice-2">
                                <input type="radio"
                                       name="choice-2"
                                       id="choice-2" value="2"
                                       ng-model="dhForm.is_attending">
                                Not able to attend but I would like get involved
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label" for="textMessage">I have self-awareness</label>
                    <div class="col-md-8">
                        <ga-captcha ng-model="dhForm.captcha" ng-required="true" anonymous-only></ga-captcha>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>