<div class="col-md-12 text-center">
    <h2>Dental Hackathon <span class="light">Blog</span></h2>
</div>
<div class="col-md-12">
    <form class="form-horizontal"
          name="form"
          ng-submit="submit()"
          unsaved-warning-form>
        <!-- Text input-->
        <div class="form-group required">
            <label class="col-md-4 control-label" for="textName">Title</label>
            <div class="col-md-6">
                <input id="textName"
                       name="textName"
                       type="text"
                       placeholder="Title"
                       class="dh-form-control input-md"
                       required=""
                       ng-model="dhForm.title">
                <div style="color:maroon;" ng-messages="form.textName.$error"
                     ng-show="form.textName.$touched && form.$dirty">
                    <div ng-message="required">Your name is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label class="col-md-4 control-label" for="textName">Url</label>
            <div class="col-md-6">
                <input id="textName"
                       name="textName"
                       type="text"
                       placeholder="Url"
                       class="dh-form-control input-md"
                       required=""
                       ng-model="dhForm.url">
                <div style="color:maroon;" ng-messages="form.textName.$error"
                     ng-show="form.textName.$touched && form.$dirty">
                    <div ng-message="required">A url is required.</div>
                </div>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group required">
            <label class="col-md-4 control-label" for="textMessage">Entry</label>
            <div class="col-md-8">
                    <textarea class="dh-form-control"
                              msd-elastic
                              id="textMessage"
                              name="textMessage"
                              rows="5"
                              required
                              ng-model="dhForm.entry"></textarea>
                <div style="color:maroon;" ng-messages="form.textMessage.$error"
                     ng-show="form.textMessage.$touched && form.$dirty">
                    <div ng-message="required">Please provide a small blurb outlining your inquiry.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </div>
        </div>
    </form>
</div>